.kl-add-btn-top-list{margin-bottom: 30px;}
.box-footer {   margin-top: 50px;   margin-bottom: 20px;}
.box-footer input{margin-left: 20px;}
.card-panel input[type="checkbox"] {visibility: inherit !important;position: inherit !important; display: block; margin: 0 auto; }
.checkbox-custom-style{text-align: left;display: inline-block !important;   margin-left: 12px !important;}
hr{margin: 55px 0;}
.kl-action-button-bloc .btn{padding: 0 1rem !important;}
.yay-user-info-name{font-size: 1rem !important;}
.input-field .prefix { left: 14px !important; top: 6px !important;}
.kl-footer {text-align: center!important;}
.kl-image-user-edit {width: 150px!important; margin: 10px!important;}
.inputfile {font-size: 10px!important;}
.nav-tabs{ display: none!important; }
.kl-expand {    position: absolute!important; right: -1px!important; top: 0px!important; }
.kl-profil-content {position: relative!important; }
.kl-user-content {right: 10px!important;}
body{ min-height: 800px!important; background: #F9F9F9!important;}
footer { position: fixed!important;width: 100%!important;bottom: 0!important;
    padding: 2rem; border-top: 1px solid #DEE1EC; background: #fff; height: 70px;}
footer p{ text-align: center; margin: 0; }
.kl-content-wrap { margin-bottom: 100px!important;}
td {text-align: center!important;}
th {text-align: center!important;}
.select2-container{ width: 100%!important;}
.kl-body{padding-right: 35px !important;}
.caret { border-top : 0px!important;}
.form-control { padding: 0px!important;}
.select-wrapper span.caret {display: none!important;}
.select-wrapper input.select-dropdown {display: none!important;}
.modal { background: white!important;max-height:55%!important; width: 44%!important;}
.modal-footer button {margin: 10px!important;}
.modal-header{text-align: center!important;}
.modal-header h4 {font-size: 2.5rem;}
.kl-td {display: inline-flex!important;}
.kl-button-index { padding: 0px 1rem !important; margin: 1px!important;}
.kl-star-custom { font-size: 2.13em !important;}
.kl-star { color: #008ef7!important;}
.kl-star-caption { display: none!important;}
.kl-clear-rating {display: none!important;}
.kl-btn-remove-fct {text-align: right;margin: 5px}
.kl-row {margin-top: 0!important;}
.kl-footer{ position: relative!important;margin-left: 2%!important; padding: 2rem!important; border-top: 1px solid #DEE1EC; background: #fff;height: 70px;}
.add-btn-top-list { margin: 5px!important;margin-left: -15px }
.kl-add-btn-top-list { margin: 5px!important;margin-left: -15px }
.kl-delete-btn {margin: 5px!important;}
.fc-scroller { overflow-x: visible !important; }
.fc-row.fc-rigid { z-index: auto !important;overflow: visible!important; }
.select2-container--default .select2-selection--multiple .select2-selection__choice { background-color: #2196F3!important;
    border: 1px solid #dcefe1!important;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}
.modal-content { border: none!important; box-shadow: none!important; width: 100%!important;}
