/*
    Created on : 27 déc. 2016, 09:44:32
    Author     : Niaina
*/
.kl-login-logo > img {
    width: 120px;
}

.kl-login-page, .kl-register-page {
    background: white;
}

.kl-login-box-body, .kl-register-box-body {
    background: silver;
}