.kl-add-btn-top-list{margin-bottom: 30px;}
.box-footer {   margin-top: 50px;   margin-bottom: 20px;}
.box-footer input{margin-left: 20px;}
.card-panel input[type="checkbox"] {visibility: inherit !important;position: inherit !important; display: block; margin: 0 auto; }
.checkbox-custom-style{text-align: left;display: inline-block !important;   margin-left: 12px !important;}
hr{margin: 55px 0;}
.kl-action-button-bloc .btn{padding: 0 1rem !important;}
.yay-user-info-name{font-size: 1rem !important;}
.input-field .prefix { left: 14px !important; top: 6px !important;}
.kl-footer {text-align: center!important;}
.kl-image-user-edit {width: 150px!important; margin: 10px!important;}
.inputfile {font-size: 10px!important;}
.nav-tabs{ display: none!important; }
.kl-expand {    position: absolute!important; right: -1px!important; top: 0px!important; }
.kl-profil-content {position: relative!important; }
.kl-user-content {right: 10px!important;}
body{ min-height: 800px!important; background: #F9F9F9!important;}
footer { position: fixed!important;width: 100%!important;bottom: 0!important;
    padding: 2rem; border-top: 1px solid #DEE1EC; background: #fff; height: 70px;}
footer p{ text-align: center; margin: 0; }
.kl-content-wrap { margin-bottom: 100px!important;}
td {text-align: center!important;}
th {text-align: center!important;}
.select2-container{ width: 100%!important;}
.kl-body{padding-right: 35px !important;}
.caret { border-top : 0px!important;}
.form-control { padding: 0px!important;}
.select-wrapper span.caret {display: none!important;}
.select-wrapper input.select-dropdown {display: none!important;}
.mod { background: transparent!important;box-shadow: none!important;}
.mod-footer button {margin: 10px!important;}
.kl-td {display: inline-flex!important;}
.kl-button-index { padding: 0px 1rem !important; margin: 1px!important;}
.kl-star-custom { font-size: 2.13em !important;}
.kl-star { color: #008ef7!important;}
.kl-star-caption { display: none!important;}
.kl-clear-rating {display: none!important;}
.kl-btn-remove-fct {text-align: right;margin: 5px}
.kl-row {margin-top: 0!important;}
.kl-footer{ position: relative!important;margin-left: 2%!important; padding: 2rem!important; border-top: 1px solid #DEE1EC; background: #fff;height: 70px;}
.add-btn-top-list { margin: 5px!important;margin-left: -15px }
.kl-add-btn-top-list { margin: 5px!important;margin-left: -15px }
.kl-delete-btn {margin: 5px!important;}
.fc-scroller { overflow-x: visible !important; }
.fc-row.fc-rigid { z-index: auto !important;overflow: visible!important; }
/*.kl-mod-add-user {margin-top: 50%!important;}*/
.dataTables_processing {position: absolute; top: 53%!important;}
.name:hover { text-decoration: none!important; }
.count:hover { text-decoration: none!important;  }
.kl-card-panel-link {text-decoration: none!important;}
.select2-container--default .select2-selection--multiple
.select2-selection__choice { background-color: #00aee2; border: 1px solid #05d1ff; border-radius: 4px;
    cursor: default; float: left; margin-right: 5px; margin-top: 5px; padding: 0 5px;}
.kl-resp-input-child{display: none!important;}
.stats-card {text-decoration: none!important;}
.kl-badge  {position: relative!important; margin-left: 27px!important;}
.kl-btn-clear{ background-color: #232121 !important; }
.kl-mod-close {background-color: #232121 !important;margin-top: -49px!important;right: -25px!important; }
.error.help-block {color: red!important;}
.select2-container--default .select2-selection--single {border: none!important;}
.modal-dialog{ overflow-y: initial !important }
.modal-body{ min-height: 200px; max-height: 80vh; overflow-y: auto; overflow-x: hidden; }
.kl-title-status {font-size: 1.2rem!important;}
.modal-header { padding: 15px; border-bottom: 1px solid #e5e5e5; }
.mCSB_inside>.mCSB_container { margin-right: 10px!important; }
.tabs { overflow-x: hidden!important;cursor: pointer }
.kl-btn-drowpdown { margin-top: 1px!important;}
.kl-calendar-projet {margin: 15px;width: 250px!important;}
.kl-spiner { color:#008ef7!important;text-align: center;margin: 15% !important;margin-left: 45%!important;}
.kl-select-status {margin: 0px!important;}
.kl-hr hr {border: 1px solid black}
.kl-modal-header {position: relative;background: #57b4fd !important; color: white; padding: 10px;}
.kl-button-close {position: absolute;margin-top: 0px!important; right: 18px!important;}
.kl-spin-ajax { color:#008ef7!important; }
/*.kl-select-user {width: 256px!important;}*/
.kl-usr-absence {font-size: 0; padding-left: 0;margin: 7px;width: 35px;height: 35px;border-radius: 3px; }
.kl-popup-align {text-align: left;}
.kl-container-user-photo { text-align: center!important; }
.kl-user-image {border-radius: 50%!important;}
.kl-error-message {color: red!important;}
.stats-card{ transition: all .2s ease-in-out; }
.stats-card:hover{ transform: scale(1.1);}
.kl-modal-bootbox {min-height: 25px!important;}
.collection-item strong {font-weight: bold!important;}
strong {font-weight: bold!important;}
.kl-btn-drowpdown {padding: 0 1.3rem!important;}
.kl-table {width: 100%!important;}
td .circle:hover {
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
    from { -webkit-transform: rotate(0deg); }
    50%{ -webkit-transform: rotate(90deg); }
    to {  -webkit-transform: rotate(359deg); }
}
.kl-user-select-form {width: 250px!important;}
/*.material-tooltip {background: red!important;}*/