.kl-task-container { cursor: pointer; min-width: 33%; padding: 25px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26) !important;}
.kl-task-container h3{ text-align: center }
.kl-tabs {border: none!important;}
.ui-widget.ui-widget-content { border: 1px solid #ffffff!important;}
.kl-card-content { box-shadow: 3px 4px 6px grey !important; }
.kl-on-over { border: dashed 2px #000000; background-color: #00ffff; }
.kl-task-content {min-height: 300px!important;}
.kl-loading-task { display: none; position: absolute;  color: #008ef7!important; padding: 18% 37%!important; z-index: 999999; }
.kl-aler-task-warning { display: none; }
.kl-aler-task-danger { display: none; }
.kl-box-task { display: flex; min-height: 250px ; height: auto; }