<footer class="footer sk-footer" data-background-color="black">
    <div class="container-fluid">
        <p class="copyright pull-right">RAJERISON Julien , Made with love !!! </p>
    </div>
</footer>