{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <section class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" id="sign-in">
        <form action="{{ path('fos_user_security_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="card card-login">
                <div class="card-header text-center sk-card-login" data-background-color="cyan">
                    <h4 class="card-title">Ny Sekoliko</h4>
                </div>
                <div class="card-content">
                    <div class="input-field">
                        <i class="fa fa-user prefix"></i>
                        <label for="" class="control-label">Nom d'utilisateur</label>
                        <input id="username-input username" type="text" name="_username" value="" class="form-control validate">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-unlock-alt prefix"></i>
                        <label for="" class="control-label">Nom d'utilisateur</label>
                        <input id="password-input password" type="password" name="_password" class="form-control validate">
                    </div>
                </div>
                <div class="footer text-center">
                    <button id="login-form-submit" class="btn btn-rose btn-simple btn-wd btn-lg sk-login-bouton">
                        Connexion
                    </button>
                </div>
            </div>
            {# S'il y a une erreur, on l'affiche dans un joli cadre #}
            {% if error is defined %}
                <div class="alert alert-danger text-center" style="text-align: center">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </form>
    </section>
{% endblock %}

	

